h2 {
    
    text-align: center;
    color: #404040;
    font-size: 30px;
    font-weight: 100;
}
.skills {
    text-align: center;
    color: #404040;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    margin: auto;
}
.skills .lan {
    font-size: 25px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #e2fbd0;
    display: grid;
    place-items: center;
    margin-right: 20px;
}
